{% extends template %}

{% block content %}
  {% set featured = events[0]|default(null) %}

  {% if featured %}
    <div class="push--large" style="padding-top: 20px;">
      <article class="story-block story-block--focal story-block--separated js-no-border" dir="ltr">
        <a href="/events/{{ featured.slug }}" class="story-block__clickable">
          {% if featured.images[1] %}
            <figure class="story-block__figure">
              <img src="{{ featured.images[1].src }}" alt="{{ featured.name }}" width="{{ featured.images[1].width }}" height="{{ featured.images[1].height }}" />
            </figure>
          {% endif %}
          <div class="story-block__content">
            <h3 class="story-block__title">{{ featured.name }}</h3>
            <div class="story-block__excerpt">
              <p>{{ featured.createdAt|date('h:i A, d M Y', featured.entryTz) }}</p>
            </div>
          </div>
        </a>
      </article>
    </div>
  {% else %}
    <div class="d-grid d-grid--focal">
      <div class="grid__item grid__item--main" style="padding-top: 20px;">
        <h3 class="story-block__title">No Events Scheduled</h3>
        <div class="copy rich-text__block rich-text__block--full">
          <p>We are currently in the process of updating our events calendar. Please check back soon for a curated selection of upcoming events. In the meantime, we invite you to explore our website for the latest in music, interviews, and industry news. Stay tuned!</p>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="d-grid d-grid--3x m-grid">
    {% for event in events|slice(1) %}
      <div class="grid__item push--large">
        <article class="story-block story-block--third" dir="ltr">
          <a href="/events/{{ event.slug }}" class="story-block__clickable">
            {% if event.images[0] %}
              <figure class="story-block__figure" style="aspect-ratio: 1/1;overflow:hidden;">
                <img src="{{ event.images[0].src }}" alt="{{ event.name }}" width="{{ event.images[0].width }}" height="{{ event.images[0].height }}" />
                <span class="context-marker">Events</span>
              </figure>
            {% endif %}
            <div class="story-block__content">
              <h3 class="story-block__title">{{ event.name }}</h3><div class="story-block__excerpt">
                <p>{{ event.createdAt|date('h:i A, d M Y', event.entryTz) }}</p>
              </div>
            </div>
          </a>
        </article>
      </div>
    {% endfor %}
    <div class="clear"></div>
  </div>
{% endblock %}
