{% import '_includes/forms.twig' as forms %}

{% set title = 'Session Services Settings' %}

{% block content %}
  <form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('plugins/save-settings') }}
    {{ hiddenInput('pluginHandle', 'session-services') }}

    {{ forms.textField({ label: 'Base URL'|t, id: 'baseUrl', name: 'baseUrl', value: settings.baseUrl, errors: settings.getErrors('baseUrl') }) }}
    {{ forms.textField({ label: 'Template'|t, id: 'template', name: 'template', value: settings.template, errors: settings.getErrors('template') }) }}

    <div class="buttons">
      <input class="btn submit" type="submit" value="{{ 'Save'|t }}" />
    </div>
  </form>
{% endblock %}
